# Emacs generated
.cache
auto-save-list/
auto-saves/
backups/
places
recentf
history
bookmarks
custom.el
tramp
tramp-autosave
transient/
eshell/
elpa/
.DS_Store
spelling
eca-emacs/
tree-sitter
eca 
eca-emacs
eln-cache